html,
body {
  font-family: "Be Vietnam Medium";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  background-color: #232f3e;
  padding: 1rem 1rem;
}

.paper {
  padding: 20px;
  height: auto;
  width: 500px;
  margin: 20px auto;
}

.text_login,
.titleDashboard {
  margin-top: 3%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3d88f4;
  font-family: calibri;
}

.titleDashboard {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
}

.bt_add {
  text-align: right;
}
.color_btn_add {
  background-color: #029529 !important;
}

.titleRecord {
  margin-top: 1%;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: bold;
  color: rgb(107, 148, 198);
  font-family: calibri;
}

.avatar {
  background-color: #3d88f4 !important;
}

/*  */
#search_btn {
  background-color: #3d88f4;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}

#ticket_btn,
#login_btn,
#select_btn,
.button-back,
.button-next {
  background-color: #3d88f4;
  color: white;
  padding: 0.4rem 1.8rem;
  font-family: Be Vietnam Medium;
}

#select_btn {
  margin-top: 1.5rem;
}

.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.search {
  color: white;
}

.card {
  height: 100%;
}

.card-title a {
  color: #3d88f4;
}

.card-title a:hover {
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

td {
  white-space: nowrap;
}

.flex-container {
  display: flex;
}

.flex-container i {
  margin-right: 1rem;
}

.card-img-top {
  width: 220px;
  height: 170px;
}

#card_item_price {
  color: #3d88f4;
  font-weight: bold;
  font-size: 1.4rem;
}

.card-font-size {
  font-size: 1.5rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3d88f4;
  border-color: #3d88f4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Pagination */
.page-item.active .page-link {
  background-color: #3d88f4;
  border-color: #3d88f4;
}

.page-link {
  color: #3d88f4;
}

.page-link:hover {
  color: #3d88f4;
}

.typographyColor {
  color: grey;
}

.required {
  color: red;
  font-size: small;
  text-align: left;
}

input,
TextField {
  caret-color: black !important;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img {
  width: 100%;
}

.dropdown-item.text-danger:active {
  background-color: rgb(232, 64, 64);
}

.recordList {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.paperList {
  margin: 1%;
}

.tableRowList {
  background-color: #3d88f4;
}

.recordList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-weight-bold {
  align-self: flex-end;
}

.paperList .MuiTableContainer-root {
  border-radius: 5px;
}

.tableRowList .MuiTableCell-root {
  color: white;
}

.MuiDialogTitle-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDialogTitle-root .MuiIconButton-root {
  float: right;
}

.MuiTextField-root {
  margin-left: auto;
}

.flex-div {
  flex: 1;
}

.highlighted-day {
  margin-right: 3px;
  border-radius: 50%;
  background-color: #7cafee;
  width: 35px;
  height: 35px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.button-back {
  align-self: flex-start;
}

.button-next {
  align-self: flex-end;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 10.2rem;
}
